.address{background: #ffffff;border: 1px solid #d4d4d4;height: 878px;padding: 0 126px;}
.address .address_box>h3{color:#161616;font-size: 26px;line-height: 30px;margin: 55px 0 20px;}
.address .address_box .add .addson{width:100%;height: 88px;border: 1px dashed #d1d1d1;margin:19px 0;}
.address .address_box .add .addson span{color:#404040;font-size: 18px;line-height: 30px;}
.address .address_box .add .addson .son_tlt{margin: 15px 15px 5px;display: inline-block;}
.address .address_box .add .addson .son_tlt .add_btn{display:inline-block;line-height: 30px}
.address .address_box .add .addson .son_tlt>span:first-child{margin-right:20px;}
.address .address_box .add .addson .add_btn{margin: 15px 15px 0 0;}
.address .address_box .add .addson .add_btn a{color:#404040;font-size: 16px;line-height: 30px;}
.address .address_box .add .addson .son_tlt .default_add{margin: 6px 0 0 0;width:62px;height: 17px;background: #999999;color:#ffffff;font-size: 12px;display: inline-block;line-height: 17px;text-align: center;}

.add_address{width:100%;height: 52px;border: 1px dashed #d1d1d1;line-height: 52px;font-size: 20px;}
.add_address>p{margin: 0 15px;}
.add_address>p>i{color:#bababa;font-size: 25px;margin-right: 5px;}
.add_address a{color: #404040;}

/*删除地址弹窗样式*/
.de_txt {text-align: center;}
.de_txt a:first-child{float:right;color:#dadada;}
.de_txt p{font-size: 30px;color: #404040;text-align: center;margin: 10px 0 35px 0;clear: both;}
.de_txt a{padding: 7px 16px;font-size: 20px;border-radius: 3px;margin: 0 20px;}
#de_ok{background: #ee4e42;color: #fff;}
#de_no{background: none;color: #ee4e42;border: 1px solid #ee4e42;}


/*添加收件地址*/
.address .address_box p{color: #343434;font-size: 18px;line-height: 30px;margin: 30px 0 15px 0;}
#add_form input{text-indent: 37px;line-height: 43px;border:1px solid #b6b6b6;width: 100%;font-size: 18px;}
#add_keep{width: 184px;height: 52px;margin-top: 47px;background: #ee4e42;font-size: 28px;color:#ffffff;text-align: center;line-height: 52px;display: inline-block;border-radius: 3px;}




























