.record{background: #ffffff;border: 1px solid #d4d4d4;height: 878px;padding:0 28px;}
.record .record_head{margin: 28px 0 22px;}
.record .record_head input{width: 160px;height: 39px;border: 1px solid #d4d4d4;border-radius: 3px;font-size: 18px;color:#404040;line-height: 39px;}
.record .record_head label{padding:0 5px;}
.record .record_head select{width: 160px;height: 39px;border: 1px solid #d4d4d4;border-radius: 3px;font-size: 18px;color:#404040;line-height: 39px;}

.re_class{font-size: 16px;color: #4c4c4c;line-height: 30px;margin-bottom: 22px;font-weight: bold;}
.re_class a{font-size: 16px;color: #4c4c4c;line-height: 30px;margin: 0 25px;}
.re_click{color:#ee4e42 !important;}

.record .record_content{width: 100%;border: 1px solid #d4d4d4;}
.record .record_content .thead{line-height: 59px;border-bottom: 1px solid #d4d4d4;font-size: 16px;color: #4c4c4c;}
.record .record_content .thead span{display:inline-block;}
.record .record_content .tbody span{display:inline-block;}
.record .record_content .tbody{line-height: 53px;font-size: 14px;color: #808080;}
.record .record_content .tbody .tb_ntxt{line-height: 190px;text-align: center;font-size: 24px;color:#999999;}


















































