.redeem{background: #ffffff;border: 1px solid #d4d4d4;height: 878px;padding: 0 127px;}
.redeem h3{color: #161616;font-size: 26px;line-height: 30px;margin: 53px 0 25px 0;}
.redeem .re_can{height: 110px;border:1px solid #b6b6b6;text-indent: 37px;}
.redeem .re_can p{font-size: 18px;color:#454545;line-height: 30px;}
.redeem .re_can p span{font-size: 30px;color:#282828;line-height: 30px;}
.redeem .re_can p:first-child{margin: 17px 0 10px;}
.redeem .red_box p{color: #343434;font-size: 18px;line-height: 30px;margin: 30px 0 15px 0;}
.redeem .red_box input{text-indent: 37px;line-height: 43px;border: 1px solid #b6b6b6;width: 100%;font-size: 18px;}
#re_btn{width: 184px;height: 52px;background: #f94a14;margin-top: 34px;display: inline-block;color: #ffffff;text-align: center;line-height: 52px;border-radius: 3px;font-size: 28px;}


/*
  赎回成功
*/
.redeem .reok p:first-child{margin: 80px 0 0;font-size: 26px;color: #161616;}
.redeem .reok p:first-child i{font-size: 30px;color: #ee4e42;margin-right:17px;}
.redeem .reok .reok_txt{text-indent: 55px;}
.reok .reok_txt p:first-child{font-size: 18px;color: #4c4c4c;line-height: 30px;margin-bottom: 20px;}
.reok .reok_txt p{font-size: 18px;color: #4c4c4c;line-height: 30px;}
.reok .reok_txt p span{color:#353535;font-weight: bold;padding: 0 5px;font-size: 21px;}
.reok .rebtn_box{margin: 40px 0 0 55px;}
.reok .rebtn_box a{font-size:18px;border-radius: 3px;padding: 9px 17px;}
.reok .rebtn_box .re_btn_now{background: #ee4e42;color:#ffffff;margin-right: 30px;}
.reok .rebtn_box .go_back{border:1px solid #ee4e42;color:#ee4e42;}












































