.container .profit .sett{background: #ffffff;border: 1px solid #d4d4d4;padding: 0 27px;height: 878px;}
.container .profit .sett ul{margin: 12px 0 0 0;}
.container .profit .sett ul li{line-height: 59px;border-bottom:1px dashed #d1d1d1;}
.container .profit .sett ul li .set_tlt{font-size: 18px;color:#787878;width: 155px;display: inline-block;}
.container .profit .sett ul li .set_btn{font-size: 18px;color:#328ad4;float:right;width: 110px;text-align: right;}
.container .profit .sett ul li .set_txt{font-size: 18px;color:#333333;}
.container .profit .sett ul li .one_line{display:inline-block;}
.container .profit .sett ul li .one_line a{font-size: 18px;color: #328ad4;float: right;width: 110px;text-align: right;}




























































































