.signin{background: #ffffff;border: 1px solid #d4d4d4;height: 878px;padding: 0 126px;}
.signin .signin_box>h3{color:#161616;font-size: 26px;line-height: 30px;margin:53px 0 25px 0;}
.signin .signin_box p{color: #343434;font-size: 18px;line-height: 30px;margin: 30px 0 15px 0;}
#signin_form input{text-indent: 37px;line-height: 43px;border:1px solid #b6b6b6;width: 100%;font-size: 18px;}
#keep{width: 184px;height: 52px;margin-top: 47px;background: #ee4e42;font-size: 28px;color:#ffffff;text-align: center;line-height: 52px;display: inline-block;border-radius: 3px;}

#transaction_form input{text-indent: 37px;line-height: 43px;border:1px solid #b6b6b6;width: 100%;font-size: 18px;}
#tr_next{width: 184px;height: 52px;margin-top: 47px;background: #ee4e42;font-size: 28px;color:#ffffff;text-align: center;line-height: 52px;display: inline-block;border-radius: 3px;}
#tr_preservation{width: 184px;height: 52px;margin-top: 47px;background: #ee4e42;font-size: 28px;color:#ffffff;text-align: center;line-height: 52px;display: inline-block;border-radius: 3px;}














































